{% extends 'base.html' %}

{% block title %}Library Catalogue System{% endblock %}

{% block content %}
    <!-- Welcome Message -->
    <div class="jumbotron">
        <h1 class="display-4">Hey, there!</h1>
        <p class="lead">Welcome to my Library Catalogue System or LCS</p>
        <hr class="my-4">
        <p>To vist my reading list please go to the </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Catalogue</a>
        </p>
    </div>
{% endblock %}